<p style="margin-bottom: 1rem;">Have a coupon?</p>
<input type="text" style="margin-bottom: 1rem;" placeholder="Enter coupon code" maxlength="5"><br>
{% include "button" link: course.links.buy, button_type: "primary submit-coupon disable", text: "Submit Coupon" %}